.Grille{
  display: inline-block;  
}

/* creer plus tard un bloc .Grille .Cellule pour faire le distingo entre cellules de grilles et celles présentes dans un texte (si besoin) */
.Cellule{
  display: inline-block;  
}