body.assoc_18_12 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_12 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_12 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_12 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_13 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_13 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_13 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_13 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_14 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_14 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_14 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_14 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_15 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_15 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_15 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_15 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_30 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_30 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_30 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_30 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_31 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_31 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_31 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_31 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_32 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_32 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_32 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_32 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_33 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_33 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_33 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_33 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_48 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_48 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_48 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_48 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_49 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_49 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_49 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_49 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_50 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_50 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_50 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_50 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_51 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_51 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_51 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_51 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_66 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_66 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_66 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_66 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_67 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_67 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_67 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_67 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_68 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_68 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_68 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_68 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_18_69 { background-color: #C0C0C0;
background-image: url('noauto_fond_18.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_18.png'), linear-gradient(114deg, #B0FEFF, #F5FF5E);
 }

body.assoc_18_69 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_18_69 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_18_69 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #E3FDFB;
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.assoc_66_2 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.assoc_66_2 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66_2 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_66_2 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: rgba(128, 128, 128, 0);
;}
body.assoc_66_2 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(254, 252, 230, 0.879);
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.assoc_66_20 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.assoc_66_20 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66_20 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_66_20 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: rgba(128, 128, 128, 0);
;}
body.assoc_66_20 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(254, 252, 230, 0.879);
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.assoc_66_38 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.assoc_66_38 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66_38 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_66_38 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: rgba(128, 128, 128, 0);
;}
body.assoc_66_38 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(254, 252, 230, 0.879);
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.assoc_66_56 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.assoc_66_56 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66_56 #Fenetre .Grille.Grille_primary .Cellule { background-color: #F3FDF4;
font-family: sans-serif;
font-size: 17;
border: 0.7px solid black;
 }

body.assoc_66_56 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: rgba(128, 128, 128, 0);
;}
body.assoc_66_56 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(254, 252, 230, 0.879);
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.assoc_66b_22 { background-color: #C0C0C0;
background-image: url('noauto_fond_66b.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66b.png'), linear-gradient(114deg, #FEFEFE, #AAC8FD);
 }

body.assoc_66b_22 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 22;
border: 0.7px solid black;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #832802;
;}
body.assoc_66b_22 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #FEFCE6;
font-family: sans-serif;
font-size: 18;
border: 0.7px solid black;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_0.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_1.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_2.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_3.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_4.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_22 #Fenetre .Grille.Grille_primary .Cellule.Cell_5.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 { background-color: #C0C0C0;
background-image: url('noauto_fond_66b.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66b.png'), linear-gradient(114deg, #FEFEFE, #AAC8FD);
 }

body.assoc_66b_4 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 22;
border: 0.7px solid black;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #832802;
;}
body.assoc_66b_4 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #FEFCE6;
font-family: sans-serif;
font-size: 18;
border: 0.7px solid black;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_0.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_1.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_2.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_3.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_4.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_4 #Fenetre .Grille.Grille_primary .Cellule.Cell_5.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_40 { background-color: #C0C0C0;
background-image: url('noauto_fond_66b.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66b.png'), linear-gradient(114deg, #FEFEFE, #AAC8FD);
 }

body.assoc_66b_40 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66b_40 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 22;
border: 0.7px solid black;
 }

body.assoc_66b_40 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #832802;
;}
body.assoc_66b_40 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #FEFCE6;
font-family: sans-serif;
font-size: 18;
border: 0.7px solid black;
 }

body.assoc_66b_40 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.assoc_66b_40 #Fenetre .Grille.Grille_primary .Cellule.Cell_0.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_40 #Fenetre .Grille.Grille_primary .Cellule.Cell_1.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_40 #Fenetre .Grille.Grille_primary .Cellule.Cell_2.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_40 #Fenetre .Grille.Grille_primary .Cellule.Cell_3.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_40 #Fenetre .Grille.Grille_primary .Cellule.Cell_4.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_40 #Fenetre .Grille.Grille_primary .Cellule.Cell_5.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_58 { background-color: #C0C0C0;
background-image: url('noauto_fond_66b.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66b.png'), linear-gradient(114deg, #FEFEFE, #AAC8FD);
 }

body.assoc_66b_58 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.assoc_66b_58 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 22;
border: 0.7px solid black;
 }

body.assoc_66b_58 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #832802;
;}
body.assoc_66b_58 #Fenetre .Grille.Grille_secondary .Cellule { background-color: #FEFCE6;
font-family: sans-serif;
font-size: 18;
border: 0.7px solid black;
 }

body.assoc_66b_58 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.assoc_66b_58 #Fenetre .Grille.Grille_primary .Cellule.Cell_0.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_58 #Fenetre .Grille.Grille_primary .Cellule.Cell_1.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_58 #Fenetre .Grille.Grille_primary .Cellule.Cell_2.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_58 #Fenetre .Grille.Grille_primary .Cellule.Cell_3.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_58 #Fenetre .Grille.Grille_primary .Cellule.Cell_4.resolue { text-align: center;
vertical-align: bottom;
 }

body.assoc_66b_58 #Fenetre .Grille.Grille_primary .Cellule.Cell_5.resolue { text-align: center;
vertical-align: bottom;
 }

body.dict_10_mot_cafard { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_10_mot_cafard #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_10_mot_couteau { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_10_mot_couteau #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_10_mot_enfant { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_10_mot_enfant #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_10_mot_menton { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_10_mot_menton #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_10_mot_mosqu__e { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_10_mot_mosqu__e #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_10_mot_m__dicament { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_10_mot_m__dicament #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_10_mot_nuage { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_10_mot_nuage #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_10_mot___cole { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_10_mot___cole #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_10_prepare { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_10_prepare #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_7_mot_bonbon { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_7_mot_bonbon #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_7_mot_col__re { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_7_mot_col__re #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_7_mot_dents { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_7_mot_dents #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_7_mot_force { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_7_mot_force #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_7_mot_fourmi { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_7_mot_fourmi #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_7_mot_jouer { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_7_mot_jouer #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_7_mot_l__gumes { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_7_mot_l__gumes #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_7_mot_serpent { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_7_mot_serpent #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_7_prepare { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_7_prepare #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_8_mot_balafon { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_8_mot_balafon #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_8_mot_canard { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_8_mot_canard #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_8_mot_coton { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_8_mot_coton #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_8_mot_karat__ { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_8_mot_karat__ #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_8_mot_monde { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_8_mot_monde #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_8_mot_panth__re { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_8_mot_panth__re #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_8_mot_piment { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_8_mot_piment #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_8_mot_six { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_8_mot_six #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_8_prepare { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_8_prepare #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_9_mot_bottes { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_9_mot_bottes #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_9_mot_calebasse { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_9_mot_calebasse #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_9_mot_couper { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_9_mot_couper #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_9_mot_cuire { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_9_mot_cuire #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_9_mot_girafe { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_9_mot_girafe #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_9_mot_jambe { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_9_mot_jambe #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_9_mot_orange { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_9_mot_orange #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_9_mot_sandales { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_9_mot_sandales #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_9_prepare { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_9_prepare #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.dict_menu { background-color: #C0C0C0;
background-image: url('noauto_fond_dictee.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_dictee.png');
 }

body.dict_menu #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);border-top: 2px solid rgba(255, 255, 255, 0.6); border-left: 2px solid rgba(255, 255, 255, 0.6); border-right: 2px solid rgba(0, 0, 0, 0.6); border-bottom: 2px solid rgba(0, 0, 0, 0.6); background-color: #C0C0C0;
 }

body.ordonner_lettres_16 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_16 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_16 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_16 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_17 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_17 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_17 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_17 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_18 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_18 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_18 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_18 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_34 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_34 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_34 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_34 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_35 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_35 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_35 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_35 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_36 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_36 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_36 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_36 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_52 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_52 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_52 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_52 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_53 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_53 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_53 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_53 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_54 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_54 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_54 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_54 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_70 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_70 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_70 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_70 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_71 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_71 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_71 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_71 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_lettres_72 { background-color: #C0C0C0;
background-image: linear-gradient(314deg, #FEFEFE, #5BCEFF);
 }

body.ordonner_lettres_72 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_lettres_72 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FFFFFF;
font-family: sans-serif;
font-size: 90;
border: 0.7px solid black;
 }

body.ordonner_lettres_72 #Fenetre .Grille.Grille_primary .Cellule.inactive {background-color: #CFC0B1;
;}
body.ordonner_syl_10 { background-color: #C0C0C0;
background-image: url('calebasse.png');
background-repeat: no-repeat; background-position: center;
background-image: url('calebasse.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_10 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_10 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_11 { background-color: #C0C0C0;
background-image: url('baton.png');
background-repeat: no-repeat; background-position: center;
background-image: url('baton.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_11 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_11 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_26 { background-color: #C0C0C0;
background-image: url('jouer.png');
background-repeat: no-repeat; background-position: center;
background-image: url('jouer.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_26 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_26 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_27 { background-color: #C0C0C0;
background-image: url('courir.png');
background-repeat: no-repeat; background-position: center;
background-image: url('courir.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_27 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_27 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_28 { background-color: #C0C0C0;
background-image: url('girafe.png');
background-repeat: no-repeat; background-position: center;
background-image: url('girafe.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_28 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_28 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_29 { background-color: #C0C0C0;
background-image: url('karate.png');
background-repeat: no-repeat; background-position: center;
background-image: url('karate.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_29 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_29 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_44 { background-color: #C0C0C0;
background-image: url('orange.png');
background-repeat: no-repeat; background-position: center;
background-image: url('orange.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_44 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_44 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_45 { background-color: #C0C0C0;
background-image: url('medicament.png');
background-repeat: no-repeat; background-position: center;
background-image: url('medicament.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_45 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_45 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_46 { background-color: #C0C0C0;
background-image: url('sandales.png');
background-repeat: no-repeat; background-position: center;
background-image: url('sandales.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_46 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_46 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_47 { background-color: #C0C0C0;
background-image: url('menton.png');
background-repeat: no-repeat; background-position: center;
background-image: url('menton.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_47 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_47 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_62 { background-color: #C0C0C0;
background-image: url('sandales.png');
background-repeat: no-repeat; background-position: center;
background-image: url('sandales.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_62 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_62 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_63 { background-color: #C0C0C0;
background-image: url('vetement.png');
background-repeat: no-repeat; background-position: center;
background-image: url('vetement.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_63 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_63 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_64 { background-color: #C0C0C0;
background-image: url('zecole.png');
background-repeat: no-repeat; background-position: center;
background-image: url('zecole.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_64 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_64 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_65 { background-color: #C0C0C0;
background-image: url('orange.png');
background-repeat: no-repeat; background-position: center;
background-image: url('orange.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_65 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_65 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_8 { background-color: #C0C0C0;
background-image: url('canari.png');
background-repeat: no-repeat; background-position: center;
background-image: url('canari.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_8 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_8 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.ordonner_syl_9 { background-color: #C0C0C0;
background-image: url('balafon.png');
background-repeat: no-repeat; background-position: center;
background-image: url('balafon.png'), linear-gradient(114deg, #FEFEFE, #FFA800);
 }

body.ordonner_syl_9 #Fenetre { position: relative; top: 50%; top: calc( 50% + 120px ); left: 50%; left: calc( 50% - 75px ); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.ordonner_syl_9 #Fenetre .Grille.Grille_primary .Cellule { background-color: rgba(243, 253, 244, 0.766);
font-family: sans-serif;
font-size: 48;
border: 0.7px solid black;
 }

body.presentation_1 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_1 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_19 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_19 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_21 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_21 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_3 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_3 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_37 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_37 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_39 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_39 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_55 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_55 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.presentation_57 { background-color: #C0C0C0;
background-image: url('noauto_fond_66.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_66.png'), linear-gradient(97deg, #EED001, #E29601);
 }

body.presentation_57 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_23 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_23 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_23 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_23 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_23 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_23 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_24 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_24 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_24 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_24 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_24 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_24 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_25 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_25 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_25 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_25 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_25 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_25 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_41 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_41 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_41 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_41 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_41 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_41 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_42 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_42 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_42 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_42 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_42 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_42 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_43 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_43 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_43 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_43 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_43 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_43 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_5 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_5 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_5 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_5 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_5 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_5 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_59 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_59 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_59 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_59 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_59 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_59 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_6 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_6 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_6 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_6 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_6 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_6 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_60 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_60 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_60 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_60 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_60 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_60 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_61 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_61 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_61 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_61 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_61 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_61 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

body.syl_manquante_7 { background-color: #FD85E9;
background-image: url('noauto_fond_syl_manq.png');
background-repeat: no-repeat; background-position: center;
background-image: url('noauto_fond_syl_manq.png'), linear-gradient(114deg, #67FAFE, #FF8FE3);
 }

body.syl_manquante_7 #Fenetre { position: relative; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);background: transparent;
 }

body.syl_manquante_7 #Fenetre .Grille.Grille_primary .Cellule { background-color: #FEFEFE;
font-family: sans-serif;
font-size: 26;
border: 0.7px solid black;
 }

body.syl_manquante_7 #Fenetre .Grille.Grille_primary .Cellule.resolue {color: #10B100;
;}
body.syl_manquante_7 #Fenetre .Grille.Grille_secondary .Cellule { background-color: rgba(255, 250, 250, 0.703);
font-family: sans-serif;
font-size: 28;
border: 0.7px solid black;
 }

body.syl_manquante_7 #Fenetre .Grille.Grille_solvedPrimary .Cellule {  }

